nav a:hover{
    text-decoration: underline;
}
.menu a{
    height: 80px;
}
.menu img {
    height: 75px;
    width: 100px;
}
.noticia {
    height: 300px;
    background-color: white;
}
@media screen and (max-width: 650px){
    .noticia {
        height: auto;
    }
}